{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
{% comment %} <input type="text" class="datepicker"> {% endcomment %}
{% comment %} {{qset}} {% endcomment %}
{% if user.is_authenticated %}
      {% comment %} {{user.profile.location}} is logged in {% endcomment %}
      <h4>Welcome <strong>{{user.first_name}} {{user.last_name}}<strong></h4>
      <br>
      {% else %}
      {% comment %} <p>Hey Student, check the intern opprtunities avaiable to you.</p> {% endcomment %}
      {% endif %}
        {{ user.groups.all.0}}
        <div class="row">
            <div class="col s3"><a href="/interns/category/CIVIL/"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/civil.png?raw=true" alt="Civil Boys"></a></div>
            <div class="col s3"><a href="/interns/category/CSE/"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/cse.png?raw=true" alt="CSE"></a></div>
            <div class="col s3"><a href="/interns/category/EEE"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/eee.png?raw=true" alt="EEE"></a></div>
            <div class="col s3"><a href="/interns/category/MECH"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/mech.png?raw=true" alt="MECH"></a></div>
        </div> 

        <div class="row">
            <div class="col s3"> <a href="/interns/category/Management/"> <img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/man.png?raw=true" alt="Civil Boys"></a></div>
            <div class="col s3"><a href="/interns/category/Humanities/"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/hum.png?raw=true" alt="Humanities"></a></div>
            <div class="col s3"><a href="/interns/category/Marketing/"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/logo.png?raw=true" alt="Marketing"></a></div>
            <div class="col s3"><a href="/interns/category/Media/"><img class="responsive-img" src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/Icons/media.png?raw=true" alt="Media"></a></div>            
        </div>

    {% comment %} <div style="background-color:#eee">
    {% for intern in qset %}
        {% if forloop.first %} <div class="row">{%endif%}
        <div class="col s12">
                  <div class="card">
        <div class="card-content"> {% endcomment %}
            
          {% comment %} <span class="card-title"><a href="{% url 'intern_detail_view' pk=intern.id %}">{{ intern.title }}</a></span> {% endcomment %}
          {% comment %} <p>{{intern.description|truncatewords:20}} </p> {% endcomment %}
          {% comment %} <p style="color:#B83227">Deadline: <strong>{{intern.deadLine}}</strong></p>
          <p>Duration : <strong>{{intern.duration}}</strong></p> {% endcomment %}
          {% comment %} <p><strong>Date Added </strong>{{intern.dateAdded}}</p> {% endcomment %}
          {% comment %} <p>Contact: <strong>{{intern.fullName}}</strong></p> {% endcomment %}
        {% comment %} </div>
        <div class="card-action">
          <a href="{% url 'intern_detail_view' pk=intern.id %}">Know More</a>          
        </div>
      </div>
      </div>    
    {% if forloop.counter|divisibleby:1 %}</div>  <div class="row">{% endif %}  
    {% if forloop.last %} </div> {% endif %}
    {% endfor %} {% endcomment %}
    </div>
                {% comment %} <div class="card card-default">
    <div class="card-header"><a href="{% url 'intern_detail_view' pk=intern.id %}">{{ intern.title }}</a></div>
    <div class="card-body">
        <div class="card-left">
        </div>
        <div class="card-right">
        <h1></h1>
        <h1>{{user.title}}</h1>
        <p><strong>Description </strong>{{intern.description}} </p>
        <p><strong>Deadline </strong>{{intern.deadLine}} </p>
        <p><strong>Duration </strong>{{intern.duration}} </p>
        <p><strong>Date Added </strong>{{intern.dateAdded}}</p>
        </div>
    </div>
    <div class="card-footer">
        For further details contact: <strong>{{intern.fullName}}</strong>
    </div>
    <br>
    </div>
        </div> {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}
    {% comment %} {{qset}} {% endcomment %}
{% endblock %}