{% extends 'base.html' %}

{% block title %}Login{% endblock %}



{% block content %}
<br>
<div class="row login no-padding">
  <br>
  <br>
  <div class="col s6">
      {% comment %} <h3>Login in</h3> {% endcomment %}     
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
  </div>
  <div class="col s6">
    <img style="margin-left:-12px" class="responsive-img loginImg"src="https://github.com/Rohithgilla12/mecface2019.github.io/blob/master/img/loginImg.png?raw=true"/> 
  </div>
  <br>          
  </div>

</div>

{% endblock %}