    <nav>
      <div class="nav-wrapper " style=" background-color: rgb(53, 88, 118); ">        
        <a href="/" class="brand-logo hide-on-small-only"><img src="https://www.mahindraecolecentrale.edu.in/img/footer-logo.png" class="logo" alt=""></a>
        <a href = "/" class = "brand-logo center">Internship Portal</a>                  
        <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/students">Student Sheet</a></li>
          {% if request.user.is_authenticated %}
          {% if request.user.groups.all.0.name == "Professor" %}
          <li><a href="/create">Create</a></li>           
          {% endif %}       
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
        <ul id="slide-out" class="sidenav" style="font-color:white; background-color: rgb(53, 88, 118);">
            <li><div class="user-view">
          <div class="background">
            <img src="https://www.mahindraecolecentrale.edu.in/img/footer-logo.png">
          </div>
            <br>
            <a href="#name"><span class="white-text name">{{request.user.first_name}} {{request.user.last_name}}</span></a>
            <a href="#email"><span class="white-text email">{{request.user.email}}</span></a>
            <a href="#roll"><span class="white-text roll">{{request.user.username}}</span></a>
        </div></li>
            <li style="font-color:white"><a href="/students">Student Sheet</a></li>
          {% if request.user.is_authenticated %}
          {% if request.user.groups.all.0.name == "Professor" %}
          <li><a href="/create">Create</a></li>           
          {% endif %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

