    <nav>
      <div class="nav-wrapper " style=" background-color: rgb(53, 88, 118); ">        
        <a href="/" class="brand-logo"><img src="https://www.mahindraecolecentrale.edu.in/img/footer-logo.png" class="logo" alt=""></a>
        <a href = "/" class = "brand-logo center">Internship Portal</a>                  
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if user.is_authenticated %}
          <li><a href="/create">Create</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
          {% endif %}
          <li><a href="/students">Student Sheet</a></li>
        </ul>
      </div>
    </nav>