{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">

{% comment %} {{qset}} {% endcomment %}
    
{% if request.user.groups.all.0.name == "Students" %} 
  <h5>Welcome <strong>{{user.first_name}} {{user.last_name}} <strong>, these are the list of interns applied by you</h5>
        <br>

    <div style="background-color:#eee">
    {% for intern in qset %}
        {% if forloop.first %} <div class="row">{%endif%}
        <div class="col s12">
                  <div class="card">
        <div class="card-content">
          <span class="card-title"><a href="{% url 'intern_detail_view' pk=intern.id %}">{{ intern.title }}</a></span>
          {% comment %} <p>{{intern.description|truncatewords:50}} </p> {% endcomment %}
          <p style="color:#B83227">Deadline: <strong>{{intern.deadLine}}</strong></p>
          <p>Duration : <strong>{{intern.duration}}</strong></p>
          {% comment %} <p><strong>Date Added </strong>{{intern.dateAdded}}</p> {% endcomment %}
          {% comment %} <p>Contact: <strong>{{intern.fullName}}</strong></p> {% endcomment %}
        </div>
        <div class="card-action">
          <a href="{% url 'intern_detail_view' pk=intern.id %}">Know More</a>          
        </div>
      </div>
      </div>    
    {% if forloop.counter|divisibleby:1 %}</div>  <div class="row">{% endif %}  
    {% if forloop.last %} </div> {% endif %}
    {% endfor %}
    </div>  

    <h5 style="color:#26ae60">Approved Internships</h5>

    {% for intern in approvedInters %}
        {% if forloop.first %} <div class="row">{%endif%}
        <div class="col s12">
                  <div class="card">
        <div class="card-content">
          <span class="card-title"><a href="{% url 'intern_detail_view' pk=intern.id %}">{{ intern.title }}</a></span>
          {% comment %} <p>{{intern.description|truncatewords:50}} </p> {% endcomment %}
          <p style="color:#B83227">Deadline: <strong>{{intern.deadLine}}</strong></p>
          <p>Duration : <strong>{{intern.duration}}</strong></p>
          {% comment %} <p><strong>Date Added </strong>{{intern.dateAdded}}</p> {% endcomment %}
          {% comment %} <p>Contact: <strong>{{intern.fullName}}</strong></p> {% endcomment %}
        </div>
        <div class="card-action">
          <a href="{% url 'intern_detail_view' pk=intern.id %}">Know More</a>          
        </div>
      </div>
      </div>    
    {% if forloop.counter|divisibleby:1 %}</div>  <div class="row">{% endif %}  
    {% if forloop.last %} </div> {% endif %}
    {% endfor %}
    </div>  
  {% endif %}



{% if request.user.groups.all.0.name == "Professor" %}
      <h5>Welcome <strong>{{user.first_name}} {{user.last_name}} <strong>, these are the list of interns provided by you</h5>
      <br>
    <div class="row">
      <h6>Personal Details</h6>
      <p>Current Details are <strong>Location: </strong>{{user.profile.location}}, <strong>Leisure Time:</strong> {{user.profile.leisureTime}}</p>
      <form action="#" method="post">{% csrf_token %}                        
            <input type="text" class="input-field validate" name="details" type="text" id="locationId" label="Location " placeholder="Location">            
            <button class="btn waves-effect waves-light" type="submit" name= "location" value="Approve Student">Change
                <i class="material-icons right">check</i>
            </button>        
      </form>

      <form action="#" method="post">{% csrf_token %}                                    
            <input type="text" class="input-field validate" name="timeDetail" type="text" id="timeId" label="Time" placeholder="Preferred Meeting Time">
            <button class="btn waves-effect waves-light" type="submit" name= "time" value="Approve Student">Change
                <i class="material-icons right">check</i>
            </button>        
      </form>
    </div>

    <div style="background-color:#eee">
    {% for intern in qset %}
        {% if forloop.first %} <div class="row">{%endif%}
        <div class="col s12">
                  <div class="card">
        <div class="card-content">
          <span class="card-title"><a href="{% url 'intern_detail_view' pk=intern.id %}">{{ intern.title }}</a></span>
          {% comment %} <p>{{intern.description|truncatewords:50}} </p> {% endcomment %}
          <p style="color:#B83227">Deadline: <strong>{{intern.deadLine}}</strong></p>
          <p>Duration : <strong>{{intern.duration}}</strong></p>
          {% comment %} <p><strong>Date Added </strong>{{intern.dateAdded}}</p> {% endcomment %}
          {% comment %} <p>Contact: <strong>{{intern.fullName}}</strong></p> {% endcomment %}
        </div>
        <div class="card-action">
          <a href="{% url 'intern_detail_view' pk=intern.id %}">Know More</a>          
        </div>
      </div>
      </div>    
    {% if forloop.counter|divisibleby:1 %}</div>  <div class="row">{% endif %}  
    {% if forloop.last %} </div> {% endif %}
    {% endfor %}
    </div>  
  {% endif %}

{% endblock %}