{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col s12">
            <h4>Students Enrolled</h4>
          <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>Students</th>
              <th>Title</th>
          </tr>
        </thead>

        <tbody>
        {% for student in studentsEnrolled %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.retrivedName}}</td>
                <td>{{student.title}}</td>                
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col s12">
        <h4>Students Approved</h4>
          <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>Students</th>
              <th>Title</th>
          </tr>
        </thead>

        <tbody>
        {% for student in studentsApproved %}
            <tr>
                <td>{{student.id}}</td>
                <td>{{student.retrivedName}}</td>
                <td>{{student.title}}</td>                
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
</div>
</div>
{% endblock %}
